body{
    margin:0;
    font-family:Georgia, serif;
    background:linear-gradient(to bottom,#050816,#0B1D3A,#090A1A);
    color:white;
    text-align:center;
}

/* Envelope Screen */

#envelopeScreen{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:20px;
    box-sizing:border-box;
}

.envelope{
    position:relative;
    width:220px;
    height:140px;
    background:red;
    border:5px solid yellow;

    perspective:800px;
    overflow:visible;
}

.flap{
    position:absolute;
    top:0;
    left:0;
    width:0;
    height:0;

    border-left:110px solid transparent;
    border-right:110px solid transparent;
    border-top:70px solid #E9D2B8;

    transform-origin:top center;
    transition:transform .8s ease;

    z-index:2;
}

.letter{
    position:absolute;
    left:20px;
    bottom:20px;
    width:180px;
    height:100px;
    background:white;
    border-radius:6px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
    transition:all .8s ease;

    z-index:3;   /* was 1 */
}

.envelope:hover{
    transform:scale(1.1);
}

#envelopeScreen h2{
    color:#FFD166;
    margin:20px 0 10px;
}

#envelopeScreen p{
    color:#ddd;
    font-size:18px;
}
.envelope.open .flap{
    transform:rotateX(-180deg);
}

.envelope.open .letter{
    transform:translateY(-90px);
}

/* Website */

#website{
    display:none;
    width:100%;
    min-height:100vh;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    padding:20px;
    box-sizing:border-box;
}

.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    padding-top:40px;
}

.hero h1{
    color:#FF4D88;
    font-size:52px;
    text-shadow:0 0 12px rgba(255,77,136,.7);
}

.hero p{
    max-width:600px;
    font-size:22px;
    line-height:1.7;
    color:#E8E8E8;
}

button{
    margin-top:30px;
    padding:16px 36px;
    border:none;
    border-radius:40px;
    background:#FF4D88;
    color:white;
    font-size:20px;
    cursor:pointer;
}

#chapter1{
    margin-top:150px;
    min-height:100vh;
}
